<div id="header">
  <div class="logo"><a mat-button routerLink="/"><b>Booking System</b></a></div>
  <div class="userActions">
    <div *ngIf="!isLogedIn()">
      <button mat-raised-button style="margin-right: 10px" routerLink="/register">
        <span>Sign up</span>
      </button>
      <button mat-raised-button style="margin-right: 10px" routerLink="/login">
        <span>Sign in</span>
      </button>
    </div>
    <div *ngIf="isLogedIn()">
      <button mat-raised-button style="margin-right: 10px" (click)="onLogout()">
        <span>Log out</span>
      </button>
      <div class="dropdown" style="float: right">
        <button class="dropbtn">
          <mat-icon style="font-size: 35px; vertical-align: middle">account_circle</mat-icon>
        </button>
        <div class="dropdown-content">
          <a routerLink="/profile">
            <mat-icon>home</mat-icon>
            <label> Profile</label>
          </a>
          <a routerLink="/history">
            <mat-icon>history</mat-icon>
            <label> History</label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
