#header {
  background-color: #3c8dbc;
  color: white;
  margin-bottom: 10px;
  overflow:hidden;
  padding: 10px;
}

.logo {
  font-size: large;
  width: 300px;
  margin-top: -4px;
  text-align: center;
  float: left;
}

.userActions {
  float: right;
  margin-right: 10px;
}
