.header {
  padding: 10px;
  font-size: 20px;
  background-color: #3c8dbc;
  color: white;
  text-align: center;
}

input[type=checkbox] {
  transform: scale(1.5);
}

form {
  width: 60%;
  margin-left: 20%;
}

input {
  width: 100%;
}

span {
  color: red;
}
