<div class="search">
  <app-search></app-search>
</div>
<div>
  <form [formGroup]="searchForm">
    <input style="width: 90%; display: inline-block; margin-top: 5px" formControlName="name" placeholder="Enter name of place">
    <button (click)="search()" class="w3-button w3-white w3-border w3-border-green w3-round-large w3-right">Search</button>
  </form>
  <br />
  <div *ngFor="let place of places.content">
    <div class="w3-row w3-card">
      <h3 align="center" style="cursor: pointer;" routerLink="/place/{{place.place_id}}"><b>{{place.name}}</b></h3>
      <div class="w3-quarter">
        <img class="w3-margin-bottom w3-margin-left" style="height: 150px; max-width: 200px" src="{{place.gallery ? place.gallery[0]?.pathToPhoto : 'assets/images/Default-place.png'}}" (error)="img.src = 'assets/images/Default-place.png'" #img alt="" />
      </div>
      <div class="w3-half">
        <p style="display: inline-block"  *ngFor="let service of place.services">
          <span style="padding: 5px;" class="w3-margin-right w3-card w3-white w3-border w3-border-green w3-round-large">{{service.service.split("_")[1]}}</span>
        </p>
        <p>Address : {{place.address?.country}}, {{place.address?.city}}, {{place.address?.street}}, {{place.address?.house_number}}</p>
      </div>
      <div class="w3-quarter">
        <b>Creator: {{place.user?.name}} {{place.user?.surname}}</b>
      </div>
    </div>
    <br />
  </div>
  <br />
  <mat-paginator [length]="places.totalElements" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageEvent($event)">
  </mat-paginator>
</div>
