#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 120px;
}

#footer {
  height: 60px;
  padding: 10px;
  text-align: center;
  background-color: #3c8dbc;
  color: white;
  margin-top: 10px;
  position: absolute;
  bottom: -30px;
  width: 100%;
}
