@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  background-color: #f4f4f4;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

p {
  text-align: justify;
  font-size: medium;
}

a {
  color: inherit;
}

//
//.contentHeader {
//  text-align: center;
//  width: 300px;
//  margin: auto;
//  background-color: #3c8dbc;
//  color: white;
//}
//
//#dataIO {
//  float: left;
//  width: 350px;
//  background-color: white;
//  height: 90%;
//}
