.color-nc {
  color: #0275b1;
}

.profile-pic-full {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.otstuph {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.down {
  vertical-align: top;
  padding-top: 16px;
}
