.header {
  padding: 10px;
  font-size: 20px;
  background-color: #3c8dbc;
  color: white;
  text-align: center;
}

.form {
  width: 40%;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -20%;
}

input {
  width: 100%;
}

span {
  color: red;
}
