<form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
  <h2 class="header" style="font-size: 30px"><b>Recovery password</b></h2>
  <table>
    <tr>
      <td><label class="w3-text-blue"><b>Username</b><span>*</span></label></td>
      <td>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required"><span>Required</span></div>
        </div>
      </td>
    </tr>
  </table>
  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
  <div>
    <br />
    <button type="submit" class="w3-bar-item w3-left w3-button w3-blue w3-large w3-block" style="width: 100%">
      Send
    </button>
  </div>
</form>
